<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body style="background-image: url('/images/bg_healthcare.jpg'); background-size: cover; 
				background-repeat: no-repeat; background-attachment: fixed;">
	<div align = "center">
		<div class="mt-5">
			<h1>Hospital Management System</h1>		
			<h3>working with Spring Boot CRUD</h3>		
		</div>
	</div>
	<div align = "center" class="mt-5">    
		<div class = "col-sm-8" > 
			<div class="card flex mx-5 width-70">
				<div class="card-body">
					<div align="left">
						<a th:href="@{'/index'}"><button class="btn btn-primary">Home</button></a>
					</div>
					<table class="table table-striped mt-2">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">Doctor ID</th>
								<th>Doctor Name</th>
								<th>Department</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr  th:each="Doctor : ${listDoctor }">
								<td th:text="${Doctor.id}" class="text-center">Doctor ID</td>
								<td th:text="${Doctor.Doctorname}">DoctorName</td>
								<td th:text="${Doctor.department}">Department</td>
								<td>
								    <a th:href="@{'/doctor/edit/' + ${Doctor.id}}">Edit</a>
								</td>                                
								<td>
								    <a th:href="@{'/doctor/delete/' + ${Doctor.id}}">Delete</a>
								</td>            
							</tr> 		
						</tbody>
					</table>
					<div>
						<a th:href="@{'/doctor/create'}"><button class="btn btn-outline-success">Add New</button></a>
					</div>	                    
				</div>		
			</div>
		</div>
	</div>
</body>
</html>