<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Department</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body style="background-image: url('/images/bg_healthcare.jpg'); background-size: cover; 
				background-repeat: no-repeat; background-attachment: fixed;">
	<div align="center">
		<div class="mt-5">
			<h1>Hospital Management System</h1>		
			<h3>working with Spring Boot CRUD</h3>		
		</div>
	</div>
	<div align="center" class="mt-5">
		<div class="col-sm-5">
			<div class="card flex mx-5 width-70">
				<div class="card-body">
					<form action="#" th:action="@{/department/save}" th:object="${Department}" method="post">	      
						<table class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th colspan="2" align="center">Create New Department</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<label class="form-label" >Department Name</label>
									</td>
									<td>
									    <input type="hidden" th:field="*{id}" />
									    <input type="text" th:field="*{Departmentname}" class="form-control" placeholder="Department Name" />
									</td>
								</tr>
								<tr>
									<td>
										<label class="form-label" >Location</label>
									</td>
									<td>
										<input type="text" th:field="*{location}" class="form-control" placeholder="Location" />
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>						
									<td>
										<a th:href="@{'/department/list'}" class="btn btn-secondary">Back</a>
									</td>
									<td>
										<button type="submit" class="btn btn-success">Save</button>
									</td>
								</tr>
							</tfoot>
						</table> 
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>