<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Department</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
	<div class="my-auto">
		<div align="center">
			<h1>Create New Department</h1>
			<br>
			<div class="col-sm-6">
				<form action="#" th:action="@{/department/save}" th:object="${Department}" method="post">	      
					<div align="left" class="card bg-primary-subtle">
						<table class="mx-auto col-sm-8">
							<tr>
								<td>
									<label class="form-label" >Department Name</label>
								    <input type="hidden" th:field="*{id}" />
								    <input type="text" th:field="*{Departmentname}" class="form-control" placeholder="Department Name" />
								</td>
							</tr>
							<tr>
								<td>
									<label class="form-label" >Location</label>
									<input type="text" th:field="*{location}" class="form-control" placeholder="location" />
								</td>
							</tr>
							<tr>						
								<td colspan="2">
									<a th:href="@{'/department/list'}" class="btn btn-secondary">Back</a>
								</td>
								<td colspan="2"><button type="submit" class="btn btn-success">Save</button> </td>
							</tr>
						</table>
					</div> 
				</form>
			</div>
		</div>
	</div>
</body>
</html>