<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
	<div align = "center">
		<h2>Spring Boot CRUD Hospital Management System : Department</h2>		
	</div>
	<div>
		<div align = "center" > 
			<div class="justify justify-content-between">
				<span><a  th:href="@{'/index'}">HOME</a></span>  
				<span><a  th:href="@{'/department/create'}">Add new</a></span>     
			</div>
			
			<div class="col-sm-8" >
				<div class="panel-body" align = "center" >
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>Department ID</th>
								<th>Department Name</th>
								<th>Location</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr  th:each="Department : ${listDepartment }">
								<td th:text="${Department.id}">Department ID</td>
								<td th:text="${Department.Departmentname}">DepartmentName</td>
								<td th:text="${Department.location}">Location</td>
								<td>
								    <a th:href="@{'/department/edit/' + ${Department.id}}">Edit</a>
								</td>                                
								<td>
								    <a th:href="@{'/department/delete/' + ${Department.id}}">Delete</a>
								</td>            
							</tr> 		
						</tbody>
					</table>	                    
				</div>		
			</div>
		</div>
	</div>
</body>
</html>